* {
    margin: 0;
    padding: 0; 
  }
  
  
  .content {
    height: 100%;
    display: flex;
    margin-top: 32px;
    padding: 9px;
    position: relative;
  }
  
  .content::after {
    content: "";
    background-image: url("/assets/img/11.svg");
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
  }
  
  .content-left {
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 49px;
    z-index: 1;
  }
  
  .content-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content-right img {
    height: 355px;
    border: 2px solid black;
    border-radius: 200px;
  }
  
  .home-articles {
    padding: 18px;
    background-color: rgb(248, 239, 239, 0.5);
    margin-top: 23px;
    position: relative;
  }
  
  .year-box {
    position: absolute;  
    right: 0px;
    top: 100px;
    width: 234px;
    height: 255px;
    font-size: 18px;
  }
  
  .year-box div {
    margin: 12px 0px;
  }
  
  .home-article {
    display: flex;
    margin: 25px;
  }
  
  .home-article img {
    width: 300px;
  }
  
  .home-article-content {
    align-self: center;
    padding: 25px;
  }
  
  .home-article-content a {
    text-decoration: none;
    color: black;
  }
  
  .footer {
    height: 50px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
  }
  
  .footer a {
    color: white;
  }
  
  .post-img{
    height: 404px;
    overflow: hidden; 
}
.post-img img{
    width: 100%;
}
.blog-post-content{
    /* background-color: rebeccapurple; */
}
.blog-post-content h1{
    text-align: center;
}
.blog-post-content p{
    font-size: 18px; 
}

.row{
    display: flex;
}
.more-post{
    flex-direction: column; 
    align-items: center;
}
.blogpost-meta{ 
    display: flex;
    justify-content: space-between;
}

.author-info{
    margin: 12px 0;
}
.author-info div{
    padding: 4px 0px;
    font-family: var(--font2);
}
.social{
    padding-right: 53px;
    align-self: center;
    cursor: pointer;
}
.contact-content{  
    height: 100vh;
    margin-top: 32px;
    padding: 9px;
    position: relative; 
    overflow: hidden;
  }
  
  .contact-content::after {
    content: "";
    background-image: url("file:///home/sanjaysurya/Desktop/img/11.svg");
    position: absolute;
    top:0;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
    z-index: -1;
  }

  @media screen and (max-width: 1200px) {
    .navigation {
      flex-direction: column;
      margin-bottom: 23px;
    }
  
    .nav-left {
      flex-direction: column;
      text-align: center;
    }
  
    .content-right {
      display: none;
    }
  
    .home-article {
      flex-direction: column;
    }
  
    .home-article-img {
      text-align: center;
    }
  
    .year-box {
      top: 25px;
      left: 60vw;
      font-size: 11px;
      display: flex;
    }
  
    .year-box div {
      padding: 0 3px;
      margin: 0;
    }
  
    .home-article img {
      width: 70vw;
    }
    .form-input {
      width: 50%;
    }
    .form-box input,
    textarea {
      width: 66vw;
    }
    .row {
      flex-direction: column;
    }
    .social {
      padding: 0;
    }
    .post-img {
      height: auto;
    }
    .adjust-year {
      position: static;
      height: auto;
      padding: 12px 0px;
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
  
 
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");
  :root { 
    --main-bg-color: #bd6418;
    --font1: "Baloo Bhaina 2", cursive;
    --font2: "Roboto", sans-serif;
  }
  
  .center{
    text-align: center
  }
  
  .font1 {
    font-family: var(--font1);
  }
  .font2 {
    font-family: var(--font2);
  }
  
  .max-width-1 {
    max-width: 80vw;
  }
  
  .max-width-2 {
    max-width: 60vw;
  }
  
  .m-auto {
    margin: auto;
  }
  
  .mx-1{
    margin-left: 23px;
    margin-right: 23px;
  }
  
  .my-2{
    margin-top: 32px;
    margin-bottom: 32px;
  }
  
  .btn {
    padding: 0px 20px;
    padding-top: 3px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .btn:hover {
    color: white;
    background: var(--main-bg-color);
  }
  
  .form-input {
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
  }
  
  .form-box input, textarea{
    width: 52vw;
    padding: 0px 6px;
    margin: 7px 0;
    font-size: 18px;
    font-family: var(--font1);
    border: 2px solid var(--main-bg-color);
      border-radius: 5px;
  }