<body><br><br><br><br><br><br><br>
<mat-card class="login-card" [@cardAnimation]>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-box">
        <h3 class="mat-headline center-text">Login</h3>
        <mat-form-field class="form-group" appearance="fill">
          <mat-label>User Name</mat-label>
          <input matInput formControlName="fname" id="username" placeholder="Enter First Name"/>
        </mat-form-field>
        <mat-form-field class="form-group" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" id="password" placeholder="Enter Password"/>
        </mat-form-field>
        <p>Create a new account? <a routerLink="/signup" (click)="sbtn1()">Signup</a></p>
        <button mat-raised-button type="submit" (click)="displayname()" class="btn-success">Login</button>
        <br><br>
      </form>
    </mat-card-content>
  </mat-card>


<router-outlet></router-outlet>
</body>

<!-- <!DOCTYPE html>

<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="center">
         <input type="checkbox" id="show">
         <label for="show" class="show-btn">Continue For Login</label>
         <div class="container">
            <label for="show" class="close-btn fas fa-times" title="close"></label>
            <div class="text">
               Login
            </div>
            <form action="#">
               <div class="data">
                  <label>Enter First Name</label>
                  <input type="text" required>
               </div>
               <div class="data">
                  <label>Password</label>
                  <input type="password" required>
               </div>
               
               <div class="btn">
                  <div class="inner"></div>
                  <button type="submit">login</button>
               </div>
               <div class="signup-link">
                  Not a member? <a href="/signup">Signup now</a>
               </div>
            </form>
         </div>
      </div>
   </body>
</html>

<router-outlet></router-outlet> -->