


   .login-card {
    margin-top: 20px ;
    margin-left: 10px;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: cardAnimation 1s ease-in-out forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  @keyframes cardAnimation {
    0% { 
      transform: translateY(-50px) translateX(0);
      opacity: 0;
    }
    100% {
      transform: translateY(0) translateX(-50px);
      opacity: 1;
    }
  }
  
  .form-group {
    margin-bottom: 16px;
  }
  
  .mat-headline {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: bold;
  }
  
  .btn-success {
    width: 100%;
    margin-top: 16px;
  }
  
  .center-text {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #0d0080;
  }

  .mat-form-field {
    width: 100%;
    max-width: 300px;
    margin-bottom: 16px;
  }