.login-card {
    margin-top: -5%;
    margin-bottom: 2px;
    margin-left: 450px; 
    max-width: 400px;
    border: #9f01ea 10px solid;
    border-radius: 18px;
    box-shadow: 0 2px 4px rgba(1, 2, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
#username{
  height: 40px;
}
#password{
  height: 40px;
}
input::placeholder {
  text-align: center; /* Center align the placeholder text */
}
  .form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px;
  
  }
  

  
  .form-group {
    margin-bottom: 16px;
    
  }
  
  .mat-headline {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: bold;
  }
  
  .btn-success {
    width: 100%;
    margin-top: 16px;
  }
  
  .center-text {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #0d0080;
  }

  .mat-form-field {
    width: 100%;
    max-width: 300px;
    margin-bottom: 16px;
    
  }
  
  #nsl-icon{
    margin-left:600px;
    margin-top:-350px;
    width:300px;
    height:300px;
  }
  body{
    
    height: auto;
    width: 100%;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
  }
  
  
  
  
