<h2>Age Distribution</h2>

<!-- <div class="bar-graph">
  <div class="bar">
    <div class="bar-label">Below 18</div>
    <div
      class="bar-fill"
      [style.width.%]="(below18 / (below18 + above18)) * 100"
      [ngStyle]="{ 'background-color': below18 > 0 ? '#FF7F7F' : '#ddd' }"
    ></div>
    <div class="bar-value">{{ below18 }}</div>
  </div>

  <div class="bar">
    <div class="bar-label">Above 18</div>
    <div
      class="bar-fill"
      [style.width.%]="(above18 / (below18 + above18)) * 100"
      [ngStyle]="{ 'background-color': above18 > 0 ? '#7FBBFF' : '#ddd' }"
    ></div>
    <div class="bar-value">{{ above18 }}</div>
  </div>
</div> -->


<div class="bar-chart">
  <div class="bare" [style.height.px]="below18"></div>
  <div class="bar" [style.height.px]="above18"></div>
</div>
<br>
<br>
<div>
  Above 18 : {{above18}}<br>
  Below 18: {{below18}}
</div>