<body>
  <!-- <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" id="check">

    <div>
      <label>Name of the Blog</label>
      <input type="text" formControlName="name">
      <div *ngIf="reactiveForm.get('name')?.invalid && reactiveForm.get('name')?.touched">
        <div *ngIf="reactiveForm.get('name')?.errors?.['required']">Name is required</div>
      </div>
    </div>
    <div>
      <label>Blog</label>
      <quill-editor formControlName="blog" [modules]="getQuillConfig()" style="width: 94%; height: 200px;"></quill-editor>
      <div *ngIf="reactiveForm.get('blog')?.invalid && reactiveForm.get('blog')?.touched">
        <div *ngIf="reactiveForm.get('blog')?.errors?.['required']">Blog is required</div>
      </div>
    </div>
  
    <button type="submit" [disabled]="reactiveForm.invalid">Submit</button>
  </form> -->
  
<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" id="check">
 
    <div>
      <label>Name of the Blog</label>
      <input type="text" formControlName="name" class="newI">
      <div *ngIf="reactiveForm.get('name')?.invalid && reactiveForm.get('name')?.touched">
        <div *ngIf="reactiveForm.get('name')?.errors?.['required']">Name is required</div>
      </div>
    </div>
    <div>
      <label>Any Related Image you want to Upload??</label>
      <input type="text" formControlName="image" class="newI">
    </div>
    <div>
      <label>Blog</label>
      <ckeditor [editor]="Editor" formControlName="blog" class="ck-editor__editable_inline"></ckeditor>
      <div *ngIf="reactiveForm.get('blog')?.invalid && reactiveForm.get('email')?.touched">
        <div *ngIf="reactiveForm.get('blog')?.errors?.['required']">Blog is required</div>
      </div>
    </div>

    <button type="submit" [disabled]="reactiveForm.invalid">Submit</button>
  </form>



  

  
  

  
  <!-- <img src="https://img.freepik.com/free-photo/laptop-camera-colorful-background_23-2148210398.jpg" id="new-icon"> -->
</body>

