form {
    max-width: 100%;
    
    margin-left:470px;
    background-color:#66bbdd;
    padding:20px;
    border-radius: 20px;
    margin-left: 20px;
  }
  
  div {
    margin-bottom: 20px;
    font-size:large;
    color: rgb(33, 23, 1);
    
  }
  #check{
    margin-top:30px;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    
  }
  
  input[type="text"]
  {
    
    padding: 10px;
    border: 1px solid #000000 solid;
    border-radius: 4px;
    
  }
  
  div.error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  button[type="submit"] {
    display: block;
    margin-left: 400px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 400px;
  }
  
  button[type="submit"]:disabled {
    background-color: #ea4856;
    cursor: not-allowed;
    width: 400px;
    margin-left: 400px;
  }
  

#new-icon{
  margin-left:500px;
    margin-top:-530px;
    width:700px;
    height:500px;
    border-radius: 20px;
}


:host ::ng-deep .ck-editor__editable_inline {
  min-height: 500px !important;
  border: 1px solid #000000 solid;
  border-radius: 4px;
}

.newI{
  max-width: 1000px;
}