<body>
<mat-card class="animated-card">
  <mat-card-content>
    <h1 class="animated-heading">Hello, {{ displayname }}!!! Welcome to NSL Blogs</h1>
  </mat-card-content>
</mat-card>
<mat-toolbar color="primary">
  <button mat-button routerLink="/" routerLinkActive="active">
    Home
  </button>
  <button mat-button routerLink="/about" routerLinkActive="active">
    My Blogs
  </button>
  <button mat-button routerLink="/form" routerLinkActive="active">
    Create New Blog
  </button>
  <button mat-button routerLink="/search" routerLinkActive="active">
    Search
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
</body>
