
<!-- <mat-card class="animated-card">
  <mat-card-content>
    <h1 class="animated-heading">Hello, {{ displayname }}!!! Welcome to NSL Blogs</h1>
  </mat-card-content> 
</mat-card>-->

<div class="flex-container">
    <button mat-button routerLink="/myhome" routerLinkActive="active">
      Home
    </button>
  <button mat-button routerLink="/home" routerLinkActive="active">
    Feed
  </button>
  <button mat-button routerLink="/about" routerLinkActive="active" *ngIf="isVisible">
    My Blogs
  </button>
  <button mat-button routerLink="/form" routerLinkActive="active" *ngIf="isVisible">
    New Blog
  </button>
  <button mat-button routerLink="/search" routerLinkActive="active" *ngIf="isVisible">
    Search
  </button>
  <button mat-button routerLink="/login" routerLinkActive="active" *ngIf="Visible">
    Login
  </button>
  <button mat-button routerLink="/profile" routerLinkActive="active" *ngIf="isVisible">
    Profile
  </button>
  
</div>




<router-outlet></router-outlet>

