nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #555;
  }
  nav ul li a.active {
    color: #f00; /* Change this to the desired color for active navigation items */
  }
  
 
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }