

<h1 >Hi, {{displayname}}! Welcome to NSL Blogs</h1>
<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" style="color: rgb(255, 242, 0); font-weight: bold; font-size: 20px;">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active" style="font-size: 20px;">My Blogs</a></li>
    <li><a routerLink="/form" routerLinkActive="active" style="font-size: 20px;">Create New Blog</a></li>
    <li><a routerLink="/search" routerLinkActive="active" style="font-size: 20px;">Search</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
