
<body>
<div class="container">
    <form [formGroup]="singup" (ngSubmit)="singupdata(singup)" class="form-box">
        <h3>Signup</h3>
        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" formControlName="fname" id="fname" class="form-control mb-3 mt-3" placeholder="Enter First Name"/>
        </div>

        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" formControlName="lname" id="lname" class="form-control mb-3 mt-3" placeholder="Enter Last Name"/>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" id="email" class="form-control mb-3 mt-3" placeholder="Enter Email"/>
        </div>

        <div class="form-group">
            <label for="phone">Phone No</label>
            <input type="text" formControlName="phone" id="phone" class="form-control mb-3 mt-3" placeholder="Enter Phone Number"/>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" id="password" class="form-control mb-3 mt-3" placeholder="Enter Password"/>
        </div>

        <p>You already have an account? <a routerLink="login" (click)="sbtn()">Sign In</a></p>
        <button type="submit" class="btn btn-success">Signup</button>
    </form>
</div>
<img src="https://nslhub.com/images/m-democratise.svg" id="new-icon">
<router-outlet></router-outlet>
</body>