
<div class="background" id="parallax-bg"></div>
<div class="card">
  <div class="cover-bg"></div>
  <div class="user-info-wrap">
    <div class="user-photo"></div>
    <div class="user-info">
      <div class="user-name">{{displayname}}</div>
      <div class="user-title">Web designer</div>
    </div>
  </div>
  <div class="user-bio">
    <p>Web enthusiast. Travelaholic. Friendly communicator. Coffee enthusiast. Music geek.
     Food fan. Gamer.
    </p>
    <div class="social">
      <div class="social-icons">
        <a href="" class="fa">
          <i class="fa fa-behance-square"></i>
        </a>
        <a href="" class="fa">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="" class="fa">
          <i class="fa fa-linkedin-square"></i>
        </a>
        <a href="" class="fa">
          <i class="fa fa-dribbble"></i>
        </a>
      </div>
      
      <div class="message">
        <a href="" class="fa">
          <i class="fa fa-envelope-o"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
