<div class="homebar">
  <div class="home-heading">Timeline</div>
  <button class="logout-button" (click)="logout()" *ngIf="LoggedIn">Logout</button>
</div>

<ng-container *ngIf="jsonData">
  <div class="json-list" style="background-color: rgb(54, 42, 55);">
    <div class="json-item" *ngFor="let item of jsonData; let i = index">
      <div class="json-card" (click)="onCardClick(item.nameb)" [style.background-color]="getRandomColor(i)" style="background-size: cover; background-repeat: no-repeat;" [style.background-image]="'url('+ item.image + ')' ">
        <h1 class="json-name"><strong>{{ item.nameb }}</strong></h1>
        <div class="json-footer">
          <button class="read-more">Read More</button>
        </div>
        <p style="font-size: 30px; color: rgb(0, 0, 0);">Blog By <strong>{{removeQuotes(item.aname)}}</strong></p>
      </div>
    </div>
  </div>
</ng-container>


<router-outlet></router-outlet>